/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {

	font-family: 'Press Start 2P', cursive;
	--White:  rgba(228,238,249,.5);
	--border-blur: solid 4pxrgba(255,255,255,.5);
	--box-shadow: 020px30px4pxrgba(0,0,0,.2);
	--text: #F1EDED;
}*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}


#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #ffffff;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;

}

.subtitulo{
    color: white;
    font-size: 20px;
}


.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;

}

.tarjeta-de-mokepon{
    width: 200px;
    height: 100px;
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}


#boton-mascota{
    width: 180px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
}

input{
    display: none;
}
input:checked + label{
    background-color: #6A9AB0;
}

#seleccionar-ataque{
    /*display: flex;  --- Esta utlizando el de JavaScript*/
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
}

#mensajes {
    width: 280px;
    background: #eeeeee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: none;
    color: #11468F;
    font-family: 'Poppins', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid white;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
    
}